################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/output/debug
/compile.sh
/CMakeLists.txt
/intermediates
/intermediates/_IsIncrementalBuild
/intermediates/vc143.idb
